{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'shared/images/icon.png' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" />
  <link rel="stylesheet" href="{% static 'member/css/base.css' %}">
    {% block extrahead %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <nav>
    <div class="navbar">
      <div class="container nav-container">
        <div class="logo">
          <h1>
            <a href="{% url 'product_list' %}">
              <img src="{% static 'shared/images/icon.png' %}" width="50" height="50" alt="HahaLife Logo">
              <span>HahaLife Shopping</span>
            </a>
          </h1>
        </div>
        <div class="menu-items">
          <li><a href="{% url 'product_list' %}"><i class="ri-home-9-line ri-xl"></i>Browse</a></li>
          <li><a href="{% url 'view_cart' %}"><i class="ri-shopping-cart-2-line ri-xl"></i>Cart</a></li>
          <li><a href="{% url 'mypurchase' %}"><i class="ri-bank-card-line ri-xl"></i>Purchase</a></li>
          <li><a href="{% url 'notification' %}"><i class="ri-notification-3-line ri-xl"></i>Notification</a></li>
          <li><a href="{% url 'account' %}"><i class="ri-user-settings-line ri-xl"></i>Account</a></li>
          <li><a href="{% url 'logout' %}"><i class="ri-logout-box-line ri-xl"></i>Logout</a></li>
        </div>
      </div>
    </div>
  </nav>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="main-footer">
    <div class="footer-content">
      <p>&copy; 2025 HahaLife Shopping. All Rights Reserved</p>
    </div>
  </footer>
</body>

</html>