{% extends 'shared/base.html' %}

{% block title %}
HahaLife Shopping Login
{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" name="email" required placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" name="password" required placeholder="Password">
        </div>
        <button type="submit" class="primary-button">Login</button>
        <div class="login-link">
            <p>Don't have an account? <a href="{% url 'register' %}">Register Here</a></p>
            <p>Want to join us? <a href="{% url 'apply' %}">Join Us</a></p>
            <p><a href="{% url 'applicant_login' %}">Check Application Status</a></p>
        </div>
        <div class="guest-login">
            <a href="{% url 'guest' %}"><button class="guest-button" type="button">Login as a guest</button></a>
        </div>
    </form>
</div>

{% endblock %}